<!DOCTYPE html>
<html lang="en">

<!-- //////// HEAD /////////////////////////////////////////// -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojos</title>
</head>

<!-- //////// BODY /////////////////////////////////////////// -->
<body>
  <!-- //// HEADER //////// -->
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a class="text-warning" href="/dojos" class="navbar-brand d-flex align-items-center">
            <strong>Dojos and Ninjas</strong>
            </a>
            <a class="btn btn-warning" href="/dojos">HOME</a>
        </div>
    </div>
    </header>
  
    <!-- //// MAIN AREA //////// -->
    <main role="main">
        <div class="container-fluid row justify-content-center">
            <div class="bg-dark">
                <h1 class="text-info">
                    All {{ dojo.name }} Dojo Ninjas
                </h1>
                <hr>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th >First Name</th>
                            <th >Last Name</th>
                            <th >Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ninja in dojo.ninjas  %}
                        <tr>
                          <td >{{ ninja.first_name }}</td>
                          <td>{{ ninja.last_name }}</td>
                          <td>{{ ninja.age }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>